<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link rel='icon' type='image/x-icon' href='/logo.svg' />
    <link rel='stylesheet' href='/style.css' />
    <title>MLS_DB</title>
    <script
      src='https://code.jquery.com/jquery-3.7.1.min.js'
      integrity='sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo='
      crossorigin='anonymous'
    ></script>
    <script
      content-type='application/js'
      src='/index.js'
      type='module'
    ></script>
    <link href='/datatables.min.css' rel='stylesheet'/>
    <script src='/datatables.min.js'></script>
    <link href='/tingle.css' rel='stylesheet' />
    <script src='/tingle.js'></script>
  </head>
  <body>
    <header style='display: flex; padding: 2px'>
      <img src='/logo.svg' width='40vh' height='40vh'></img>
      <div class='header-logo'>MLS_DB</div>
      <div id='currentDate'>
        <%= new Date().toUTCString();%>
      </div>
    </header>
    <div id='outputSelectItems'>
      <ul>
        <li id='currentTab' data-value='Team'>Teams</li>
        <li data-value='Player'>Players</li>
        <li data-value='Game'>Games</li>
        <li data-value='Advanced Queries'>Advanced Queries</li>
      </ul>
    </div>
    <div id='flexContainer'>
      <div id='queryButtons'>
        <button class='table-action-btn' id='addBtn'>
          Add Team
        </button>
        <button class='table-action-btn' id='editBtn' hidden>
          Edit Team
        </button>
        <div id='advancedQueries'>
          <div class='advanced-query-group' id='advQuery1'>
            <button class='table-action-btn query-btn' hidden>Query #1</button>
            <p class='query-description' hidden>
              Select the 5 players with the most goals in a given season.
            </p>
            <div class='advanced-query-options' hidden>
              <button class='query-options-btn currentOption'>2021</button>
              <button class='query-options-btn'>2022</button>
              <button class='query-options-btn'>2023</button>
            </div>
          </div>
          <div class='advanced-query-group' id='advQuery2'>
            <button class='table-action-btn query-btn' hidden>Query #2</button>
            <p class='query-description' hidden>
              Get the average number of yellow cards per game for each team by season.
            </p>
            <div class='advanced-query-options' hidden>
              <button class='query-options-btn currentOption'>2021</button>
              <button class='query-options-btn'>2022</button>
              <button class='query-options-btn'>2023</button>
            </div>
          </div>
          <div class='advanced-query-group' id='advQuery3'>
            <button class='table-action-btn query-btn' hidden>Query #3</button>
            <p class='query-description' hidden>
              List games in which the total number of goals scored by both teams is greater than a given value.
            </p>
            <div class='advanced-query-options' hidden>
              <input type='range' min='0' max='10' value='5' class='query-range' oninput='this.nextElementSibling.value = this.value'>
              <output id='currentRangeValue'>5</output>
              <button class='query-options-btn range-submit'>Submit</button>
            </div>
          </div>
          <div class='advanced-query-group' id='advQuery4'>
            <button class='table-action-btn query-btn' hidden>Query #4</button>
            <p class='query-description' hidden>
              List all players who did not play a single game in a given season.
            </p>
            <div class='advanced-query-options' hidden>
              <button class='query-options-btn currentOption'>2021</button>
              <button class='query-options-btn'>2022</button>
              <button class='query-options-btn'>2023</button>
            </div>
          </div>
          <div class='advanced-query-group' id='advQuery5'>
            <button class='table-action-btn query-btn' hidden>Query #5</button>
            <p class='query-description' hidden>
              Get the records for all teams in a given season.
            </p>
            <div class='advanced-query-options' hidden>
              <button class='query-options-btn currentOption'>2021</button>
              <button class='query-options-btn'>2022</button>
              <button class='query-options-btn'>2023</button>
            </div>
          </div>
          <div class='advanced-query-group' id='advQuery6'>
            <button class='table-action-btn query-btn' hidden>Query #6</button>
            <p class='query-description' hidden>
              Find players who played for more than one team in a given season.
            </p>
            <div class='advanced-query-options' hidden>
              <button class='query-options-btn currentOption'>2021</button>
              <button class='query-options-btn'>2022</button>
            </div>
          </div>
        </div>
      </div>
      <div id='tableContainer'>
        <div id='loading'>Loading</div>
        <table id='outputTable'>
          <thead></thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>
</html>
