<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link rel='icon' type='image/x-icon' href='/logo.svg' />
    <link rel='stylesheet' href='/style.css' />
    <title>MLS App</title>
    <script
      src='https://code.jquery.com/jquery-3.7.1.min.js'
      integrity='sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo='
      crossorigin='anonymous'
    ></script>
    <script
      content-type='application/js'
      src='/index.js'
      type='module'
    ></script>
    <link href='/datatables.min.css' rel='stylesheet'/>
    <script src='/datatables.min.js'></script>
  </head>
  <body>
    <header>
      <div class='header-logo'>MLS-DB</div>
    </header>
    <div id='outputSelectItems'>
      <ul>
        <li id='currentTab'>Teams</li>
        <li>Players</li>
        <li>Games</li>
        <li>Advanced Queries</li>
      </ul>
    </div>
    <div id='flexContainer'>
      <div id='queryButtons'>
        <button class='table-action-btn' id='addBtn'>
          Add Team
        </button>
        <button class='table-action-btn' id='editBtn' hidden>
          Edit Team
        </button>
        <button class='table-action-btn query-btn' hidden>Query #1</button>
        <button class='table-action-btn query-btn' hidden>Query #2</button>
        <button class='table-action-btn query-btn' hidden>Query #3</button>
        <button class='table-action-btn query-btn' hidden>Query #4</button>
        <button class='table-action-btn query-btn' hidden>Query #5</button>
        <button class='table-action-btn query-btn' hidden>Query #6</button>
      </div>
      <div id='loading'>Loading</div>
      <div id='tableContainer'>
        <table id='outputTable'>
          <thead></thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>
</html>
