body {
  font-family: "Courier New", Courier, monospace;
  background-color: #0d1117;
  color: lightgray;
  margin: auto;
}

:root {
  color-scheme: dark;
}

header {
  background-color: #010409;
  box-shadow: 0 0.5px 0px 0px #30363d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-logo {
  font-size: 30px;
  padding: 5px;
}

#currentDate {
  margin-left: auto;
  margin-top: auto;
  font-family: "Courier New", Courier, monospace;
  color: rgb(82, 81, 81);
}

#outputSelectItems ul {
  margin: 0;
  list-style-type: none;
  text-align: center;
  padding: 20px;
  border: solid #30363d 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  display: inline-block;
  margin-left: 20px;
}

#outputSelectItems ul li {
  float: left;
  padding: 10px;
  line-height: 0px;
  cursor: pointer;
}

#flexContainer {
  display: flex;
  max-width: 100%;
  height: 71vh;
}

#queryButtons {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: scroll;
  max-width: 15%;
}

.table-action-btn {
  border: solid #30363d 1px;
  border-radius: 1px;
  background-color: #010409;
  color: lightgray;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.table-action-btn:active {
  background-color: #000000 !important;
}

.table-action-btn:hover {
  background-color: rgb(13, 16, 20)
}

.query-options-btn {
  border: solid #30363d 1px;
  border-radius: 2px;
  background-color: #010409;
  color: lightgray;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  padding: 5px;
}

.query-options-btn:active {
  background-color: #000000 !important;
}

.query-options-btn:hover {
  background-color: rgb(13, 16, 20)
}

#advancedQueries {
  margin-right: 2px;
}

.currentOption {
  border: solid #334769 1.5px;
  cursor: default !important;
  background-color: #000000 !important;
}

#currentQuery {
  border: solid #334769 1.5px;
  border-radius: 2px;
  cursor: default !important;
  background-color: #000000 !important;
}

.query-description {
  font-size: 12px;
  border: solid #30363d 1px;
  border-radius: 1px;
  padding: 5px;
}

#currentTab {
  background-color: #334769;
  cursor: default !important;
}

#loading::after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: "";
}

#loading {
  margin-top: 10%;
  text-align: center;
  width: 70%;
}

@keyframes dotty {
  0% {
    content: "...";
  }
  25% {
    content: "..";
  }
  50% {
    content: ".";
  }
  75% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

#tableContainer {
  max-width: 80%;
  margin: 0;
  border: #30363d 1px solid;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  min-width: 80%;
  margin-right: 10px;
  margin-left: 20px;
}

.dataTable {
  font-size: 16px;
}

#outputTable tbody tr.odd {
  background-color: #0b0e12;
}

#outputTable tbody tr.even {
  background-color: #0d1117;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #484748 #0d1117;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #0d1117;
}

*::-webkit-scrollbar-thumb {
  background-color: #484748;
  border-radius: 10px;
  border: 3px solid #0d1117;
}

::-webkit-scrollbar-corner { 
  background: #0d1117;
}

#modalForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modalInput {
  height: 25px;
}

.modalInputItem {
  flex: 50%;
}

#modalX {
  margin-left: auto;
  cursor: pointer;
  font-size: 36px;
  line-height: 1;
  margin-right: 5px;
  color: #484748;
}

#modalTitle {
  margin-top: 3px;
  margin-left: 10px;
}

.modalInputs {
  padding: 10px;
}

#input0 input {
  cursor: not-allowed;
  opacity: 50%;
}

.required-input {
  border: red solid 1px;
  border-radius: 3px;
}
